
.category-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* flex-wrap: wrap; */
  gap: 15px;
}

.category-box {
  /* flex: 1 1 390px; */
  border: var(--border);
  border-radius: 10px;
  text-align: center;
  padding: 32px;
    overflow: hidden;

}

.category-box img {
  height: 250px;
  margin: 10px 0;
}

.category-box h3 {
  font-size: 2.5em;
  color: var(--secondary);
}

.category-box span {
  font-size: 1.2em;
  display: block;
  color: var(--light-color);
  padding: 10px;
}

.category-box .btn {
  display: block;
  width: 100%;
}
