.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 40px 0;
  color: var(--secondary);
}

.footer-logo {
  padding: 20px 0;
}

.footer-logo p {
  display: block;
  max-width: 400px;
  padding: 10px 0;
}

.footer-box-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 20px 0;
}



.footer-box-links h3 {
  color: var(--primary);
  padding: 10px 5px;

}

.footer-box-links a {
  color: #333;
  display: block;
  padding: 5px;
} 
.footer-box-links a:hover{
  text-decoration: underline;
  color: var(--primary);
  transition: all 0.1s linear;
  
  

}

.footer-box-links .share {
  display: flex;
  gap: 10px;
}

.footer-credit {
  padding: 30px 0;
  border-top: var(--border);
  font-style: italic;
}


@media (max-width: 991px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-box:nth-child(1) {
    grid-column: span 3;
    /* background: red; */
  }
}
