@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --primary: #27ae60;
  --secondary: #3d3d42;
  --light-color: #665;
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --border-bold: 14px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

/*  */

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin-top: 16px;
  background: var(--primary);
  color: #fff;
  padding: 10px 25px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary);
}

.heading {
  text-align: center;
  color: var(--secondary);
  text-transform: uppercase;
  padding: 40px;
  font-size: 3em;
}

.heading-span {
  color: var(--primary);
  text-transform: uppercase;
}

@media (min-width: 1221px) {
  .html {
    font-size: 120%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
