.header {
  z-index: 1000;
}

/* header-logo */

.header-logo-container {
  background: #eee;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

/* logo */

.logo {
  color: var(--secondary);
  font-weight: bold;
  font-size: 3rem;
}

.logo i {
  padding-right: 10px;
  color: var(--primary);
}

/* navbar */

.navbar-container {
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  /* transition: none; */
}

.nav li {
  transition: none;
}

.nav a {
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 4px;
  color: var(--secondary);
  transition: none;
}

.nav a:hover {
  background: var(--primary);
  color: #fff;
  transition: var(--transition);
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.icons a {
  font-size: 1.5em;
  color: var(--secondary);
}

.icons a:hover {
  color: var(--primary);
  transition: var(--transition);
}

.search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 500px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 10;
  /* border: 1px solid var(--secondary); */
}

.search-form input {
  height: 100%;
  width: 100%;
  background: none;
  font-size: 1em;
  line-height: 1;
  color: var(--secondary);
  padding: 0 20px;
  background: #fff;
}

.search-form button {
  font-size: 1.5em;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  background: var(--secondary);
}

.search-form button:hover {
  /* color: var(--primary); */
  background: var(--primary);
}

.search-form.active {
  right: 0;
  transition: var(--transition);
}

/* shopping cart */

.shopping-cart {
  position: absolute;
  top: 110%;
  right: 0%;
  width: 700px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 20px;
  z-index: 10;
}

.shopping-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.shopping-content{
  display: flex;
  justify-content: space-between;

}

/* menu-mobile */

.btn-menu {
  display: none;
  font-size: 1.5rem;
  border-radius: 6px;
  border: 1px solid var(--secondary);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  width: 35px;
}

.btn-menu:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: var(--transition);
}

/* JavaScript start */

.navbar-container.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: var(--transition);
}

/* start Medias Queries */

@media (max-width: 768px) {
  .search-bar {
    padding: 25px 0;
  }

  .btn-menu {
    display: initial;
    padding: 6px;
    margin-left: 10%;
  }

  .navbar {
    width: 100%;
    padding: 25px 0;
  }

  .nav {
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: 0;
    /* right: 0; */
    width: 50%;
    height: 100vh;
    background: var(--secondary);
    padding: 80px 0;
    flex-direction: column;
    transition: var(--transition);
  }

  .nav li {
    background: #fff;
    width: 90%;
    border-radius: 5px;
    color: var(--secondary);
  }

  .nav a {
    font-size: 1.8em;
    display: block;
    text-align: center;
  }

  .icons {
    margin-right: 10%;
  }

  /* JavaScript Start */

  .nav.active {
    visibility: visible;
    transition: var(--transition);
  }
}

@media (max-width: 450px) {
  .search-bar {
    padding: 15px 0;
    flex-direction: column;
  }

  .logo {
    margin: 20px auto;
  }

  .search-box-container {
    height: 40px;
    width: 100%;
  }

  .search-box-container input {
    padding: 10px;
    font-size: 1em;
  }

  .search-box-container label {
    width: 60px;
    padding: 5px;
  }

  .btn-menu {
    margin-left: 20px;
  }

  .navbar {
    width: 100%;
    padding: 15px 0;
  }

  .nav li {
    background: #fff;
    width: 90%;
    border-radius: 5px;
    color: var(--secondary);
  }

  .nav a {
    font-size: 1.8em;
    display: block;
    text-align: center;
  }

  .icons {
    margin-right: 25px;
  }
}
