.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 36px auto;
  background: url('../assets/img/banner-bg.webp');

  height: 500px;
  text-align: center;
}

.home-image {
  flex: 1 1 450px;
}

.home-image img {
  max-width: 100%;
}

.home-content {
  flex: 1 1 450px;
}

.home-content span {
  font-size: 2.5em;
  color: var(--secondary);
}

.home-content h3 {
  font-size: 3.5em;
  line-height: 1;
  margin: 20px auto;
  color: var(--light-color);
}

.home-content .btn:hover {
  background: var(--secondary);
}

/* Media Queries */

@media (max-width: 991px) {
  .home {
    padding: 40px;
    text-align: center;
  }
}

@media (min-width: 1220px) {
   
  .home-image {
    flex: 1;
    text-align: center;
  }

  .home-image img {
    max-width: 100%;
  }

  .home-content {
    flex: 1;
  }
}
