/* media queries */
@media(max-width: 1200px){
  html {
    font-size: 80%;
  }
}

@media(max-width: 991px){
  html {
    font-size: 80%;
  }
}

@media(max-width: 768px){

  /* header */

  .search-box-container {
    max-width: 280px;
  }

  #menu-bar {
    display: initial;
  }

  .navbar {
    width: 100%;

  }

  .nav {
    position: absolute;
    /* visibility: hidden; */
    top: 100%;
    left: 0;
    right: 0;
    background: var(--secondary);
    padding: 20px 0;
    flex-direction: column;
  }

  
  .nav li {
    background: #fff;
    width: 90%;
    border-radius: 4px;
    color: var(--secondary);

  }

   .nav a {
    font-size: 1.8em;
    display: block;
    text-align: center;
  }
}

@media(max-width: 991px){
  html {
    font-size: 80%;
  }
}