.newsletter {
  background: url('../assets/img/newsletter-bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 80px 0;
}

.newsletter h3 {
  font-size: 3em;
  color: var(--secondary);
  margin-bottom: 30px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  align-items: center;
  height: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.newsletter-form input {
  flex: 3;
  font-size: 1em;
  padding: 10px;
  height: 100%;
}

.newsletter-form button {
  flex: 1;
  height: 100%;
  margin: 0;
}


@media (max-width: 480px) {

  .newsletter {
    background-position: right;
  }
  .newsletter-form {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-form input {
    flex: 1;
    width: 100%;
  }
  
  .newsletter-form button {
    flex: 1;
    width: 100%;
  }
}
