/* .product .h3 {
  font-size: 2.5em;
  color: var(--secondary);
}

.product .span {
  font-size: 1.2em;
  color: var(--light-color);
  padding: 10px;
}

*/

.product-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-box {
  flex: 1 1 450px;
  border: var(--border);
  border-radius: 2rem;
  text-align: center;
  padding: 32px;
  border: var(--border);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.product-box img {
  height: 320px;
  margin: 10px 0;
}

.product-box:hover .product-icons {
  right: 16px;
}

.product-discount {
  position: absolute;
  top: 16px;
  left: 16px;
  background: rgba(0, 255, 0, 0.1);
  color: var(--primary);
  padding: 10px 15px;
  font-size: 1.5em;
}

.product-icons {
  position: absolute;
  flex-direction: column;
  top: 80px;
  right: -96px; /* 16px when box:hover */
}

.product-icons a {
  display: block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  font-size: 1.2em;
  color: var(--secondary);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 12px;
}

.product-icons a:hover {
  background: var(--primary);
  color: #fff;
}

.product-box .btn {
  width: 260px;
}

.product-name {
  color: var(--secondary);
  font-size: 2em;
}

.product-stars {
  padding: 15px;
  font-size: 1.2em;
  color: gold;
}

.product-price {
  font-size: 2em;
  color: var(--light-color);
  padding: 8px 0;
}

.product-price span {
  font-size: 0.6em;
  color: #999;
  text-decoration: line-through;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.product-quantity span {
padding: 10px;
font-size: 1.2em;
}

.product-quantity input {
  border: var(--border);
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: var(--secondary);
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}
